.allSettings {
  margin: 50px 0;
}
.settings {
  background-color: #eee;
  border-radius: 5px;
  min-width: 180px;
  display: flex;
  align-items: center;
}
.settings:hover {
  transform: scale(1.03);
  transition: 0.5s all ease-in-out;
}
.settings img {
  transition: transform 0.7s ease-in-out;
}
.settings img:hover {
  transform: rotate(360deg);
}
.settings span {
  margin-left: 8px;
}
.imgContainer {
  position: relative;
  height: 40px;
  max-height: 40px;
  width: 40px;
  max-width: 40px;
}
.settingImg {
  height: 40px;
  max-height: 40px;
  width: 40px;
  max-width: 40px;
  margin: 8px 2px;
}
